.greetingBackground {
  background-color:#fff;
  display:block;
  position:absolute;
  padding: 1rem;
  text-align: center;
  left:39%;
  width: 500px;
  top:54%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
h5 {
  color:#4F4F4F;
}
p {
  color:#828282;
}